@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron"></div>

<div class="row">
    @foreach (var item in ViewBag.Recipes)
    {
        <div class="col-md-4">
            <h2>@item.Name</h2>
            <p>
                Recipe Picture
            </p>
            <p><a class="btn btn-default" href="@Url.Content("/Recipes/Details/?id=" + item.Id)">Go to recipe &raquo;</a>
            </p>
        </div>
    }
</div>